
html, body, div, span, a, h, img, section, nav {                
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


html {
    margin: 0;
    padding: 0;

/*    background: rgba(199,219,244,1);*/
    background: #FFF;
    background-image: url('img/top_left.png');
    background-position: 0px -20px;
    background-size: 600px auto;
    background-repeat: no-repeat;
    font-family: Arial;
    font-size: 11pt;
}
body {
    background-image: url('img/top_right.png');
    background-position: top right;
    background-size: 200px auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    padding-top: 70px;

}
footer {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 8pt;
    color: rgba(0,0,0,0.4);
}

nav {
    padding: 3px 9px 9px 3px;
    font-size: 12pt;
    display: inline-block;
    margin-left: 200px;
}
nav>a {
    display: block;
    float: left;
    padding: 3px;
    padding-left: 1px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13pt;
    margin-right: 1px;
    /*color: #535f72;*/
    color: rgba(83,95,114,0.5);
    border-bottom: 3px solid rgba(83,95,114,0.3);
}
nav>a:hover {
    color: rgba(83,95,114,0.7);
    border-bottom: 3px solid rgba(83,95,114,0.7);
}
nav>a.selected {
    color: rgba(83,95,114,1);
    border-bottom: 3px solid rgba(83,95,114,1);
}
#scrollBoxContainer {
    margin: 0 auto;
    width: calc(100% - 40px);
    border-radius: 10px;
}
#scrollBox {
    margin: 0 auto;
    height: 520px;
    overflow-x: scroll;
}
#content {
    width: 15790px;
    padding: 10px;
    height: 500px;
    background: rgba(199,219,244,0.3);
}
section {
    width: 675px;
    height: 480px;
    /*background: rgba(255,234,13,1);*/    
    background: rgba(199,219,244,1);
    background-image: url('img/bg_right_bottom.png');
    background-position: bottom right;
    background-size: auto 400px;
    background-repeat: no-repeat;
    display: block;
    color: rgba(32,32,64,0.6);
    float: left;
    margin-right: 10px;
    overflow-y: auto;
}
section.nobg {
    background-image: none;    
}
section.text {
    padding: 10px;
}
section.high {
    width: 300px;
}
section.img {
    overflow: hidden;
}
section.last {
    margin-right: 0;
}
section>img {
    /*width: 675px;*/
    height: 480px;
}
section.high>img {
    width: 338px;
}
section>h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 13pt;
}

section>div.kategorie:hover {
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(200,200,200,0.1);
}

/*section>div.kategorie {*/
section>div {
    display: block;
    border: 1px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.3);
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 6px;
    cursor: pointer;
}
section>div.person {
    text-align: center;
}
section>div.person>img {
    height: 130px;
    padding: 2px;
    border: 1px solid rgba(255,255,255,0.7);
    margin: 4px auto;
    display: block;
    background: rgba(255,255,255,0.4);
}
hr {
    border: none;
    border-top: 1px solid rgba(83,95,114,0.5);
    margin: 0;
    margin-bottom: 10px;
}

.hidden {
    display: none
}

input {
    padding: 2px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
}
/*#######################
# Wunschliste 
#######################*/

#wunschlisteContainer {
    top: 0px;
    left: 0px;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    overflow: auto;
}
#wunschliste {
    width: 900px;
    min-height: 200px;
    max-height: 80%;
    display: block;
    margin: 0 auto;
}
#kategorien {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 28px;
}
.kategorielink {
    margin-bottom: 1px;
    margin-right: 1px;
    margin-top: 2px;
    background: rgba(255,255,255,0.95);
    padding: 4px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    float: left;
}
.kategorielink.selected {
    height: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(255,255,255,1);
}
.kategorielink:hover {
    background: rgba(255,255,255,1);
}
#wuensche {
    display: block;
    width: 100%;
    max-height: 100%;
    background: white;
    overflow: auto;
    clear: both;
}
.wunsch {
    display: block;
    background: rgba(0,0,0,0.01);
    margin: 20px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.1);
}
.wunsch>img {
    height: 80px;
    float: left;
    margin: 0px 8px 8px 2px;
}
.kategorietitle {
    margin: 20px;
    font-size: 200%;
}
.wunsch>.title {
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    width: 150px;
    margin-bottom: 8px;
}
.beschreibung {
    height: 100%;
}
div.schenken {
    clear: both;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 8px;
    display: none;
}
.schenken>form {
    clear: both;
}
.schenken>form>input[type=number] {
    width: 80px;
}
input[type=submit], input[type=button]  {
    float: right;
    /*width: 80px;*/
}
input[type=button].schenken {
    position: relative;
    bottom: 30px;
}
form>input[type=submit] {
    width: 80px;
}
input.schenken {
    border-radius: 2px;
    margin: 12px 4px 0px 4px;
}
.progressbar {
    border: 1px solid rgba(0,160,0,1);
    height: 20px;
    display: inline-block;
    width: 400px;
    float: right;
    margin-right: 0px;
}
.progress {
    margin: 1px;
    background: linear-gradient(top, #0A0 22%, #060);
    background: -o-linear-gradient(top, #0A0 22%, #060);
    background: -moz-linear-gradient(top, #0A0 22%, #060);
    background: -webkit-linear-gradient(top, #0A0 22%, #060);
    background: -ms-linear-gradient(top, #0A0 22%, #060);
    height: 16px;
}
.right {
    float: right;
    width: 560px;
    height: 80px;
    margin: 0px 2px 8px 8px;
}