/* 
    Document   : wuensche
    Created on : 19.10.2013, 10:49:13
    Author     : flofa_000
    Description:
        Purpose of the stylesheet follows.
*/


#wunschlisteContainer {
    top: 0px;
    left: 0px;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0,0,0,0.8);
}
#wunschliste {
    width: 900px;
    min-height: 200px;
    max-height: 80%;
    display: block;
    margin: 0 auto;
}
#kategorien {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
}
#wuensche {
    display: block;
    width: 80%;
    max-height: 100%;
    background: white;
    overflow: auto;
    float: left;
}
.wunsch {
    display: block;
    background: rgba(0,0,0,0.01);
    margin: 20px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.1);
}
.wunsch>img {
    height: 80px;
    float: left;
    margin: 0px 8px 8px 2px;
}
.kategorielink {
    margin-bottom: 2px;
    margin-right: 1px;
    background: rgba(255,255,255,0.95);
    padding: 4px;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
}
.kategorielink.selected {
    margin-right: 0px;
    background: rgba(255,255,255,1);
}
.kategorielink:hover {
    background: rgba(255,255,255,1);
}
.kategorietitle {
    margin: 20px;
    font-size: 200%;
}
.wunsch>.title {
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    width: 150px;
    margin-bottom: 8px;
}
.beschreibung {
    float: left;
    margin: 0px;
    height: 58px;
}
.schenken {
    clear: both;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 4px;
}
.schenken>form>input[type=number] {
    width: 80px;
}
.schenken>form>input[type=button] {
    float: right;
    width: 80px;
}
.schenken>form>input {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 8px;
}
.progressbar {
    border: 1px solid rgba(0,0,0,0.3);
    height: 20px;
    float: left;
    width: 100%;
    margin-right: 0px;
}
.progress {
    margin: 1px;
    background: green;
    height: 18px;
}
.right {
    float: right;
    width: 560px;
    height: 80px;
    margin: 0px 2px 8px 8px;
}
